# Ignores configuration files that may contain sensitive information.
build.properties
logs/

# Ignores compiled binary files.
*.ex4
*.ex5

# Ignores log files.
*.log

# Ignores Finder metadata files on Mac
.DS_Store

