# yamllint disable rule:line-length
---
name: Lint

# yamllint disable rule:truthy
on:
  - pull_request
  - push

jobs:
  YAML:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: YAML check (yamllint)
        uses: ibiqlik/action-yamllint@master
        with:
          strict: true
